In [2]:
import pandas as pd 

df = pd.read_csv("student-data.csv")

df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [3]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    str
 1   sex         395 non-null    str
 2   age         395 non-null    int64
 3   address     395 non-null    str
 4   famsize     395 non-null    str
 5   Pstatus     395 non-null    str
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    str
 9   Fjob        395 non-null    str
 10  reason      395 non-null    str
 11  guardian    395 non-null    str
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    str
 16  famsup      395 non-null    str
 17  paid        395 non-null    str
 18  activities  395 non-null    str
 19  nursery     395 non-null    str
 20  higher      395 non-null    str
 21  internet    395 non-null    str
 22  romantic    395 non-null    str
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  passed      395 non-null    str
dtypes: int64(13), str(18)
memory usage: 117.5 KB

In [4]:
df.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
passed        0
dtype: int64

In [5]:
df.duplicated().sum()

np.int64(0)

In [6]:
cat_cols = [
    'schoolsup','famsup','paid','activities',
    'nursery','higher','internet','romantic','passed'
]

for col in cat_cols:
    df[col]=df[col].str.strip().str.capitalize()

In [7]:
df[cat_cols].head()

  schoolsup famsup paid activities nursery higher internet romantic passed
0       Yes     No   No         No     Yes    Yes       No       No     No
1        No    Yes   No         No      No    Yes      Yes       No     No
2       Yes     No  Yes         No     Yes    Yes      Yes       No    Yes
3        No    Yes  Yes        Yes     Yes    Yes      Yes      Yes    Yes
4        No    Yes  Yes         No     Yes    Yes       No       No    Yes

In [8]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,No,No,4,3,4,1,1,3,6,No
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,Yes,No,5,3,3,1,1,3,4,No
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,Yes,No,4,3,2,2,3,3,10,Yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,Yes,Yes,3,2,2,1,1,5,2,Yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,No,No,4,3,2,1,2,5,4,Yes

In [9]:
df = df[(df['age']>10)&(df['age']<25)]

In [10]:
df=df[df['failures']>=0]

In [11]:
df=df[(df['absences']>=0)&(df['absences']<=30)]

In [12]:
df.describe()
df.info()

<class 'pandas.DataFrame'>
Index: 390 entries, 0 to 394
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      390 non-null    str
 1   sex         390 non-null    str
 2   age         390 non-null    int64
 3   address     390 non-null    str
 4   famsize     390 non-null    str
 5   Pstatus     390 non-null    str
 6   Medu        390 non-null    int64
 7   Fedu        390 non-null    int64
 8   Mjob        390 non-null    str
 9   Fjob        390 non-null    str
 10  reason      390 non-null    str
 11  guardian    390 non-null    str
 12  traveltime  390 non-null    int64
 13  studytime   390 non-null    int64
 14  failures    390 non-null    int64
 15  schoolsup   390 non-null    str
 16  famsup      390 non-null    str
 17  paid        390 non-null    str
 18  activities  390 non-null    str
 19  nursery     390 non-null    str
 20  higher      390 non-null    str
 21  internet    390 non-null    str
 22  romantic    390 non-null    str
 23  famrel      390 non-null    int64
 24  freetime    390 non-null    int64
 25  goout       390 non-null    int64
 26  Dalc        390 non-null    int64
 27  Walc        390 non-null    int64
 28  health      390 non-null    int64
 29  absences    390 non-null    int64
 30  passed      390 non-null    str
dtypes: int64(13), str(18)
memory usage: 119.8 KB

In [13]:
df=df[(df['studytime']>=1&(df['studytime']<=4))]

In [14]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,No,No,4,3,4,1,1,3,6,No
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,Yes,No,5,3,3,1,1,3,4,No
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,Yes,No,4,3,2,2,3,3,10,Yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,Yes,Yes,3,2,2,1,1,5,2,Yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,No,No,4,3,2,1,2,5,4,Yes

In [15]:
df.to_csv('student_cleandata.csv', index=False)

In [16]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,No,No,4,3,4,1,1,3,6,No
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,Yes,No,5,3,3,1,1,3,4,No
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,Yes,No,4,3,2,2,3,3,10,Yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,Yes,Yes,3,2,2,1,1,5,2,Yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,No,No,4,3,2,1,2,5,4,Yes

In [17]:
df['passed'] = df['passed'].map({'Yes': 1, 'No': 0})

In [18]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,No,No,4,3,4,1,1,3,6,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,Yes,No,5,3,3,1,1,3,4,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,Yes,No,4,3,2,2,3,3,10,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,Yes,Yes,3,2,2,1,1,5,2,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,No,No,4,3,2,1,2,5,4,1

In [19]:
df.to_csv('student_cleandatas.csv', index=False)

In [20]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,No,No,4,3,4,1,1,3,6,0
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,Yes,No,5,3,3,1,1,3,4,0
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,Yes,No,4,3,2,2,3,3,10,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,Yes,Yes,3,2,2,1,1,5,2,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,No,No,4,3,2,1,2,5,4,1